extends base

block content
    section.section-ask 
        form(data-userId= userId).form.ask-form
            h2 Add a question 
            div.form__control
                input.form__input#title(placeholder="Title" type="text")
            div.form__control
                textarea.form__input#content(placeholder="Write a question here" )
            button.btn-flat(style="margin-right:10px" type="submit") Add
            