footer.footer
    img(style="margin-bottom:20px" src="", alt="sehouli-emp-logo")
    p.copyright 2021 Built with ❤ in Tangier by 
        a.portfolio(style="color:pink" href="https://hamzasehouli.ma") Hamza Sehouli