footer.footer
    //- img(style="margin-bottom:20px" src="/logo.png", alt="sehouli-emp-logo")
    a(href='/' style="font-size:4rem;color:white;font-style:italic;font-weight:700;margin-bottom:4rem") sehouli
    p.copyright 2021 Built with ❤ in Tangier by 
        a.portfolio(target="_blank" style="color:pink" href="https://hamzasehouli.ma") Hamza Sehouli