footer.footer
    img(style="margin-bottom:20px" src="/logo.png", alt="sehouli-emp-logo")
    p.copyright 2021 Built with ❤ in Tangier by 
        a.portfolio(target="_blank" style="color:pink" href="https://hamzasehouli.ma") Hamza Sehouli