nav.nav 
    a.logo(href="/")
        img.logo-img(src="", alt="sehouli-emplacement-logo")
    ul.nav__list 
        li.nav__item 
            a.nav__link(href="/login") Login  
        li.nav__item 
            a.nav__link(href="/signup") Signup  