nav.nav 
    a.logo(href="/")
        img.logo-img(style="width:90px;height:30px;object-fit:cover" src="/logo.png", alt="sehouli-emplacement-logo")
    //- form.form-search
    //-     input(type="text" placeholder="search ")
    //-     button.btn-flat(type="submit") Ask    
    ul.nav__list
        if(!user)
            li.nav__item 
                a.nav__link(href="/login") Login  
            li.nav__item 
                a.nav__link(href="/signup") Signup 
        else
            
            li.nav__item 
                span( style="display:inline;cursor:pointer").nav__link.logout Logout  
            li.nav__item 
                p #{user.email}  