extends base

block content
    section.section-login 
        form.form.login-form
            h2 Log in 
            div.form__control
                input.form__input#email(placeholder="Email" type="email")
            div.form__control
                input.form__input#password(placeholder="Password" type="password")
            button.btn-flat(style="margin-right:10px" type="submit") Login
            a(href="/signup") Signup 