extends base

block content
    section.section-login 
        form.form.login-form
            h2 Log in 
            div.form__control
                input.form__input#email(placeholder="Email" type="email")
                p.form__error.email-error.hidden Please anter a valid email
            div.form__control
                input.form__input#password(placeholder="Password" type="password")
                p.form__error.password-error.hidden Please anter a valid password
            button.btn-flat.login-btn(style="margin-right:10px" type="submit") Login
            a(href="/signup") Signup 