extends base

block content
    section.section-login 
        form.form.login-form
            div.form__control
                input(placeholder="Email" type="email")
            div.form__control
                input(placeholder="Password" type="password")
            button(type="submit") Login
            a(href="/signup") Signup 