extends base

block content 
        div.hero   
            h1 Get nearby guides for your current stay 
            div
                a.btn-flat(style="margin-right:2rem" href="/search") Search nearby questions
                a(href="/ask") Ask a question