extends base

block content
    div.hero   
        h1 Get nearby guides for your current stay 
        div
            btn.btn-flat.test(style="margin-right:2rem;cursor:pointer" type="button") Get nearby questions
            a(href="/ask" style="color:inherit") Ask a question