extends base

block content
    section.section-questions
        ul.questions__list
            //- a(style="text-decoration:none;color:inherit" href="#")  
            li.questions__item 
                .questions__info 
                    p(style="color: black;").questions__owner Hamza Sehouli
                    p(style="font-style: italic;").questions__date yesterday
                    p.questions__distance 0.4 km
                p.questions__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                article.questions__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi. Quae qui eveniet aliquam dolorum neque expedita repellat beatae, unde facere animi dolorem.
                button(style="margin-right:1.5rem").btn-flat.questions__response Answer the question
                button.questions__response Raw
            li.questions__item 
                .questions__info 
                    p(style="color: black;").questions__owner Hamza Sehouli
                    p(style="font-style: italic;").questions__date yesterday
                    p.questions__distance 0.4 km
                p.questions__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                article.questions__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi. Quae qui eveniet aliquam dolorum neque expedita repellat beatae, unde facere animi dolorem.
                button(style="margin-right:1.5rem").btn-flat.questions__response Answer the question
                button.questions__response Raw
            li.questions__item 
                .questions__info 
                    p(style="color: black;").questions__owner Hamza Sehouli
                    p(style="font-style: italic;").questions__date yesterday
                    p.questions__distance 0.4 km
                p.questions__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                article.questions__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi.Sit reprehenderit perferendis debitis aperiam voluptatem dolor doloremque modi. Quae qui eveniet aliquam dolorum neque expedita repellat beatae, unde facere animi dolorem.
                button(style="margin-right:1.5rem").btn-flat.questions__response Answer the question
                button.questions__response Raw