extends base

block content
    section.section-signup 
        form.form.signup-form
            h2 Sign up
            div.form__control
                input.form__input#email(placeholder="Email" type="email")
                p.form__error.email-error.hidden Please anter a valid email
            div.form__control
                input.form__input#password(placeholder="Password" type="password")
                p.form__error.password-error.hidden Please anter a valid password

            button.btn-flat(style="margin-right:10px" type="submit") Sign up 
            a(href="/signup") Login 